@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


a:link {color:black}
a:visited {color:black} 
a:hover {color:#f5b605}   
a:active {color:#f5b605} 


body
{
    background-color: #f1f1f1;
    padding: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 23px;
    max-width: 1200px;
    margin: auto;
    
}

.main {
    max-width: 1200px;
    margin: auto;
  }

hr
{
  padding-left:55px;
  border: 1px solid red;

}

mark
{
    background-color: white;
    color: #ff7512;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: #F5B252;
}

a
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}

h1
{
    font-weight: bold;
    color:#ff7512;
    font-size: 72px;
    margin-left:55px;
}


p.headers
{
    font-weight: bold;
    color:#ff7512;
    font-size: 52px;
    margin-left:55px;
    margin-bottom: 0px;
    
}

a:hover {
    
    font-style: bold;
}


a.interruption
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
}   


p.overview
{

    color: #4056A1;
    font-size: 39px;
    text-align: left;
    margin-left:55px;
    padding-bottom: 5px;
    margin-top: 0px;


}

p.material
{

    color: #4056A1;
    font-size: 29px;
    text-align: left;
    margin-left: 410px;
    margin-right:55px;
    padding-bottom: 5px;


}
p.side
{

    color: #4056A1;
    font-size: 29px;
    text-align: left;
    margin-right: 410px;
    margin-left:55px;
    padding-bottom: 5px;


}

p.outcome
{

    color: #4056A1;
    font-size: 29px;
    text-align: left;
    margin-left: 410px;
    margin-right:55px;
    padding-bottom: 5px;

border-bottom: solid #f5b605; 
}

p.image
{
    margin-left:55px;
padding-bottom: 25px;

}

p.images
{
    margin-left:55px;
    padding-bottom: 25px;
}
