@import url('https://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,700');

mark
{

    background-color: #ffd800;


}


a:hover 
{
    background-color: #ffa060;
    font-weight: bold;
    color:black;
}
a.about
{
font-size: 35px;
color: black;
text-align: left;
margin-right:55px;

}

a.research:hover 
{
    background-color: #ffa060;
    font-weight: bold;
    color:black;
}

a.research
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}


a:link {color:#ff9651}   
a:visited {color:#ff9651} 
a:hover {color:#ffd800}   
a:active {color:#ffd800} 

h1
{
    font-weight: bold;
    color: black;
    font-size: 60px;
    margin-left:55px;

}

h3
{
    margin-left: 410px;
    color: #545150;
    margin-right:55px;


}

a:hover {
    background-color: #ffa060;
    font-style: bold;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    color: #686767;
    font-size: 24px;
    padding-bottom: 25px;

}

a.interruption
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
}   


p.point
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
padding-bottom: 25px;
}

em {
    font-style: normal;
    font-weight: bold;
   

}

p.ideation
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
padding-bottom: 25px;
}


p.material
{
font-size: 24px;
color: black;
text-align: left;
margin-left: 410px;
margin-right:55px;
padding-bottom: 25px;

}

p.outcome
{
    font-size: 24px;
color: black;
text-align: left;
margin-left: 410px;
margin-right:55px;
padding-bottom: 25px;
border-bottom: solid #ffd800; 
}

p.image
{
    margin-left:55px;
padding-bottom: 25px;

}
