@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



body
{
    background:#00d1ed;
    font-family: 'Lexend Deca', sans-serif;
    font-style: bold;
    
}
a:link {color:#D59933}
a:visited {color:#D59933} 
a:hover {color:#f5b605}   
a:active {color:#f5b605} 


h1
{
    font-weight: bold;
    text-align:center;
    font-size: 72px;
    padding-right: 60px;
}

h2
{
    margin-left: 320px;
    margin-right: 150px;
    color: black;
    
}

mark
{
    background-color: white;
    color: #ff7512;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: #F5B252;
}

a
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}

a.content
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
}

a.desc
{
    color: #ff9100;
    font-size: 59px;


}

a.big
{
    color: #ff9100;
    font-size: 29px;


}

a.medium
{
    color: #ff9100;
    font-size: 45px;

}

a:hover {
    
    font-style: bold;
}

.grid-container {
    display: grid;
    grid-gap: 10px 10px;
  }
  .grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
