@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');


body
{
    background-image: url('background.gif');
    font-family: 'Overpass', sans-serif;
    font-style: bold;
    

}

a:link {color:#D59933}
a:visited {color:#D59933} 
a:hover {color:#FD752C}   
a:active {color:#FD752C} 


h1
{
    font-weight: bold;
    text-align:center;
    font-size: 72px;
    padding-right: 60px;

}

h2
{
    margin-left: 320px;
    margin-right: 150px;
    color: black;
    
}

mark
{
    background-color: #FD752C;
    color: white;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: #FD752C;
}

a
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}

a.content
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
}

a.desc
{
    color: #D79922;
    font-size: 59px;
    margin-left:45px;

}

a:hover {
    
    font-style: bold;
}
  

.grid-container {
    display: grid;
    grid-gap: 10px 10px;
  }
  .grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* img
  {
      margin-left:45px;
  padding-bottom: 25px;
  
  } */
