@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body
{
    background:#00d1ed;
    font-family: 'Lexend Deca', sans-serif;
    font-style: bold;
    
}

a:link {color:#D59933}
a:visited {color:#D59933} 
a:hover {color:#f5b605}   
a:active {color:#f5b605} 

h1
{
    font-weight: bold;
    color: white;
    font-size: 72px;
    margin-left:45px;
}

h2
{
    margin-left: 320px;
    margin-right: 150px;
    color: black;
    
}

mark
{
    background-color: white;
    color: #ff7512;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: #f5b605;
}

a.content
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
}

p.info
{
        color: white;
        font-size: 32px;
        text-align: left;
        margin-left: 320px;
        margin-right: 150px;
        padding-bottom: 5px;

}

  