@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

a:link {color:black}
a:visited {color:black} 
a:hover {color:orangered}   
a:active {color:orangered} 

hr
{
  padding-left:55px;
  border: 1px solid red;

}

body
{
    background-color: #fff9e2;
    padding: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 23px;
    max-width: 1200px;
    margin: auto;
    
}

.main {
    max-width: 1200px;
    margin: auto;
  }



em 
{
    font-style: normal;
    font-weight: bold;
    color: #f01516;
}

a
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}

h1
{
    font-weight: bold;
    color:black;
    font-size: 72px;
    margin-left:55px;
}


p.headers
{
    font-weight: bold;
    color:black;
    font-size: 52px;
    margin-left:55px;
    margin-bottom: 0px;
    
}

a:hover {
    
    font-style: bold;
}


a.interruption
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
}   


p.overview
{

    color: #132274;
    font-size: 29px;
    text-align: left;
    margin-left:55px;
    padding-bottom: 5px;
    margin-top: 0px;
    padding-right: 20px;


}
p.material
{

    color: #1d79f2;
    font-size: 29px;
    text-align: left;
    display: block;
    padding-left: 560px;
    padding-right: 20px;




}


p.materialz
{

    color: #1d79f2;
    font-size: 29px;
    text-align: left;
    display: block;
    padding-left: 680px;
    padding-right: 20px;




}
p.side
{

    color: #1d79f2;
    font-size: 29px;
    text-align: left;
    padding-left: 55px;
    padding-right: 20px;
    padding-bottom: 5px;


}

p.outcome
{

    color: #1d79f2;
    font-size: 29px;
    text-align: left;
    padding-left: 460px;
    padding-right: 20px;
    padding-bottom: 5px;
}

img
{
  display:block;
float:left;
box-align: left;
margin-left:55px;
padding-bottom: 25px;

}


