@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');


body
{
    background: rgb(243, 237, 218);
    font-family: 'Overpass', sans-serif;
    font-style: bold;
    

}

a:link {color:#144B22}
a:visited {color:#144B22} 
a:hover {color:#ffd800}   
a:active {color:#ffd800} 

h1
{
    font-weight: bold;
    color: #4056A1;
    font-size: 72px;
    margin-left:45px;
}

h2
{
    margin-left: 320px;
    margin-right: 150px;
    color: black;
    
}

mark.titles
{
    background-color: #4056A1;
    color: white;
}


em 
{
    font-style: normal;
    font-weight: bold;
    color: #F13C20;
}

a.content
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
}

p.info
{
        color: #D79922;
        font-size: 29px;
        text-align: left;
        margin-left: 320px;
        margin-right: 150px;
        padding-bottom: 5px;

}

.trail { /* className for the trail elements */
    position: absolute;
    height: 8px; width: 8px;
    border-radius: 3px;
    background: #C5CBE3;
  }