@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');


h1.title
{
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 45px;
    /* padding-bottom:10px; */
}


img
{
    border: 2px solid black; 
    width: 60%;
}

h3
{
    padding: 20px;
    color: #686767;
    font-family: 'Work Sans', sans-serif;

}



body
{
    padding: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
    color: #686767;
    font-size: 18px;
}


