@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


h1
{
    border: 6px dashed red;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

h2
{

    font-family: 'Roboto', sans-serif;
}

img
{
    text-align: center;
    width: 70%;
}

