@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

a:link {color:#144B22}
a:visited {color:#144B22} 
a:hover {color:#ffd800}   
a:active {color:#ffd800} 

body
{
    background: rgb(243, 237, 218);
    font-family: 'Overpass', sans-serif;
    font-style: bold;
}

mark
{

    background-color: #ffd800;


}



a
{
    
font-size: 25px;
color: black;
text-align: left;
margin-right:55px;

}

h1
{
    font-weight: bold;
    color: #4056A1;
    font-size: 72px;
    margin-left:45px;
}

h2
{
    text-align: left;
    margin-left: 410px;
    margin-right:55px;
    color: black;
    
}

mark
{
    background-color: #4056A1;
    color: white;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: #F13C20;
}

a:hover {
    
    font-style: bold;
}


a.interruption
{

color: black;
font-size: 24px;
text-align: left;
margin-left: 410px;
margin-right:55px;
}   



em {
    font-style: normal;
    font-weight: bold;
   

}


p.material
{

    color: #D79922;
    font-size: 29px;
    text-align: left;
    margin-left: 410px;
    margin-right:55px;
    padding-bottom: 5px;


}

p.outcome
{

    color: #D79922;
    font-size: 29px;
    text-align: left;
    margin-left: 410px;
    margin-right:55px;
    padding-bottom: 5px;

border-bottom: solid #144B22; 
}

p.image
{
    margin-left:55px;
padding-bottom: 25px;

}