@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body
{
    
    font-family: 'Lexend Deca', sans-serif;
    font-style: bold;
    
}

a:link {color:#f5b605}
a:visited {color:#f5b605} 
a:hover {color:#ffd364}   
a:active {color:#f5b605} 

h1
{
    font-weight: bold;
    color: #132274;
    font-size: 80px;
    margin-left:45px;
}

h2
{
    margin-left: 320px;
    margin-right: 150px;
    color: #132274;
    
}

mark
{
    background-color: #f01516;
    color: white;
}

em 
{
    font-style: normal;
    font-weight: bold;
    color: white;
}

a.content
{
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
}

p.info
{
        color: #132274;
        font-size: 32px;
        text-align: left;
        margin-left: 520px;
        margin-right: 150px;
        padding-bottom: 5px;

}

p.infoz
{
        color: white;
        font-size: 42px;
        text-align: left;
        margin-left: 520px;
        margin-right: 150px;
        padding-bottom: 35px;

}

